service: users-service

provider:
  name: aws
  runtime: nodejs18.x
  environment:
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: '1'
    USERS_TABLE: ${env:USERS_TABLE}  

functions:
  registerUser:
    handler: src/functions/registerUser.handler
    events:
      - httpApi:
          path: /users/register
          method: post

package:
  individually: true

custom:
  esbuild:
    bundle: true
    minify: false
    sourcemap: true
    exclude:
      - aws-sdk  
    target: node18
    define:
      require.resolve: undefined
    platform: node
    concurrency: 10

resources:
  Resources:
    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${env:USERS_TABLE}
        AttributeDefinitions:
          - AttributeName: email
            AttributeType: S
        KeySchema:
          - AttributeName: email
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
