service: users-service

provider:
  name: aws
  runtime: nodejs18.x
  region: eu-central-1
  stage: ${opt:stage, 'dev'}
  environment:
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: '1'
    USERS_TABLE: snackup-${self:provider.stage}-users_table
    JWT_SECRET: ${env:JWT_SECRET}

functions:
  registerUser:
    handler: src/functions/registerUser.handler
    events:
      - httpApi:
          path: /users/register
          method: post
  loginUser:
    handler: src/functions/loginUser.handler
    events:
      - httpApi:
          path: /auth/login
          method: post

package:
  individually: true

custom:
  esbuild:
    bundle: true
    minify: false
    sourcemap: true
    exclude:
      - aws-sdk  
    target: node18
    define:
      require.resolve: undefined
    platform: node
    concurrency: 10

resources:
  Resources:
    UsersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.USERS_TABLE} 
        AttributeDefinitions:
          - AttributeName: email
            AttributeType: S
        KeySchema:
          - AttributeName: email
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
