service: users-service

provider:
  name: aws
  runtime: nodejs18.x
  environment:
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: '1'

functions:
  hello:
    handler: src/functions/hello.handler
    events:
      - httpApi:
          path: /hello
          method: get

package:
  individually: true

custom:
  esbuild:
    bundle: true
    minify: false
    sourcemap: true
    exclude:
      - aws-sdk
    target: node18
    define:
      require.resolve: undefined
    platform: node
    concurrency: 10
